/* logo image */
img{
    height: 100px;
    margin: auto;
}

.logo{
    text-align: center;
}



/* nav bar */
.navbar li {
    display: inline-block;
  }

.navbar a {
    display: block;
    background-color: #f16262;
    text-align: center;
    width: 100px;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 18px;
  }
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: red;
  text-align: center;
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: red;
}
.navbar li {
    border: 1px solid #f5f2f2;
  }


.blue p{
    width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}

.blue h2{
  text-align: center;
}

.images1 img{
  width: 200px;
  height: 180px;
  margin: 20px;
}

.images1{
  display: flex;
  justify-content: center;
}





/* products page */
.red {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.images2{
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.red img {
  width: 300px;
  height: 250px;
}

.para1 {
  width: 800px;
}

.para1 p{
  width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.yellow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.images3{
  display: inline-block;
  width: 400px;
  margin: 50px;
}

.yellow img {
  width: 300px;
  height: 200px;
  margin: 50px;
}

.para2 {
  width: 800px;
}

.para2 p{
    width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}



.green {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.images4{
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.green img {
  width: 300px;
  height: 250px;
}

.para3 {
  width: 800px;
}

.para3 p{
  width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}



.brown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.images5{
  display: inline-block;
  width: 400px;
  margin: 50px;
}

.brown img {
  width: 300px;
  height: 250px;
  margin: 50px;
}

.para4 {
  width: 800px;
}

.para4 p{
    width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}



/* contact */
.contactPage h2{
  text-align: center;
}

.contactPage{
  margin-left: 50px;
}