/* logo image */
img{
    height: 100px;
    margin: auto;
}

.logo{
    text-align: center;
}



/* nav bar */
.navbar li {
    display: inline-block;
  }

.navbar a {
    display: block;
    background-color: #f16262;
    text-align: center;
    width: 100px;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 18px;
  }
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: red;
  text-align: center;
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: red;
}
.navbar li {
    border: 1px solid #f5f2f2;
  }


.blue p{
    width:100% ;
    border: 2px solid #e65a5a;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px;
    background-color: #e23e3e;
}

.blue h2{
  text-align: center;
}

.images1 img{
  width: 200px;
  height: 180px;
  margin: 20px;
}

.images1{
  display: flex;
  justify-content: center;
}

